<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RunTimeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD5FC2DC1D5C59430032125E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5FC2F51D5C59430032125E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5FC3001D5C59430032125E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
