<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotHookClass</key>
	<dict>
		<key>ClassName</key>
		<array>
			<string>GPB*</string>
			<string>GCDAsync*</string>
			<string>Aspect*</string>
			<string>Appinftest.pbobjc</string>
			<string>HookMsg</string>
			<string>AppDelegate</string>
			<string>ProjectInfInfo</string>
			<string>NetHelper</string>
			<string>Connect</string>
		</array>
	</dict>
</dict>
</plist>
